* {
  font-family: Futura;
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  height: 100px;
  background-color: #f86833;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
  text-align: center;
  padding-top: 10px;
}

.btn {
  width: 30%;
  margin: auto;
  height: 25px;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn-primary {
  background-color: #6090ea;
}

.btn-danger {
  background-color: #ed487f;
}

.books-container {
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

.book-card {
  width: 90%;
  padding: 8px;
  margin: auto;
  margin-top: 20px;
  align-self: center;
  justify-self: center;
  text-align: center;
  background-color: #d7d3d3;
  border-radius: 10px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 8.3px 7.9px rgba(0, 0, 0, 0.072),
    0 15.8px 18.4px rgba(0, 0, 0, 0.086),
    0 20px 30px rgba(0, 0, 0, 0.12);
}

img {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 180px;
  height: 297px;
}

.read-check {
  margin-left: 10px;
}

.modal {
  /* display: none; */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 150px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.form-div {
  width: 60%;
  background-color: #31bebe;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}

form {
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.icon-btn {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
}

.form-check {
  margin-left: 10px;
}

@media (min-width: 574px) {
  .books-container {
    grid-template-columns: 1fr 1fr;

  }
}

@media (min-width: 1200px) {
  .books-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
}